#heading{
    border-bottom: 1px solid rgb(210, 206, 206);
    height: 80px;
    width: 95%;
    margin: auto;
}
#single-c-item{
    border: 1px solid blue;
    height: 200px;
    display: flex;

}
#delete{
    height: 100%;
    width: 140px;
    border: 1px solid blue;


}
#c-img{
    width: 140px;
    height: 100%;
    border: 1px solid blue;

}
#c-name{
    border: 1px solid blue;
    height: 100%;
    width: 400px;
}
#c-price{
    border: 1px solid blue;
    height: 100%;
    width: 150px;
}
#c-title{
    border: 1px solid blue;
    height: 100%;
    width: 150px;
    margin-left: 100px;
}