#pro-detail-main{
    display: flex;
}
#left-pro{
    border: 1px solid blue;
    height: 900px;
    width: 50%;
}
#right-pro{
    border: 1px solid red;
    height: 900px;
    width: 50%;
}
#img-pro{
    border: 1px solid greenyellow;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 70px;
}
#data-pro{
    border: 1px solid red;
    height: 700px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
#text-pro{
    
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #333333;
    text-align: left;
}
#price-pro{
    text-align: left;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}
#btns-pro{
    display: flex;
    margin-top: 20px;

}
#display-plus{
    height: 100%;
    width: 40%;
 
    margin: auto;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 20px;
}
#btn-1-min{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-left: 10px;
    padding-bottom: 20px;
   
}
#plus-btns{
    width: 110px;
    height: 45px;
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    background-color: #f8f8f8;
}
#btn-1-plus{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-right: 10px;
    padding-bottom: 10px;
}
#btn-1-min:hover{
    cursor: pointer;
}
#btn-1-plus:hover{
    cursor: pointer;
}
#addtocart{
    margin-left: 15px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    background: #1a4448;
    color: white;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 33px;
  
   
}
#buy-it{
    width: 550px;
    height: 50px;
    border-radius: 20px;
    background: #ff7451;
    color: white;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 33px;
    margin-top: 20px;
}
#des-pro{
    text-align: left;
    margin-top: 50px;

    color: #333333;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}