#heading{
    margin: auto;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
}
#bottom{
    text-align: left;
    margin: auto;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

#second{
    text-align: left;
    
    margin: auto;
    margin-top: 100px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
#order-details{
    text-align: left;
    margin-top: 30px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
color:
#333333
}
#account{
    text-align: left;
    margin-top: 70px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

}
#name{
    text-align: left;
    margin-top: 20px;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    border-bottom: 1px solid #777777;
}
#btn-so{
    border: 1px solid #aba6a6;
    width: 180px;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 30px;
}
#btn-so:hover{
    border: 2px solid #333333;
    transition: .5s;
}